Zadanie polegające na sprawdzeniu w jaki sposób wypełnianie braków danych wpływa na podstawowe statystyki zmiennych losowych.

    Wygeneruj dwie próbki 500-1000 elementowe (dowolny sposób - rozkład jednostajny; rozkład normalny)

Dla obu próbek powtórz:

    Oblicz dla próbki podstawowe statystyki - średnią, odchylenie standardowe, min, max, medianę, kwartyle
    Na podstawie oryginalnej próbki stwórz serię próbek usuwając 10%, 20%, 30%, 40%, 50%, 60%, 70%, 80% danych (w każdej próbce powinny być usuwane te same elementy, tylko rozszerzamy zakres usuniętych obserwacji)
    Oblicz podstawowe statystyki dla tych próbek (tak jak w pkt. 2.)
    Wypełnij nowe próbki
        wartością średnią (z pkt. 4 odpowiednią dla każdej kolumny, np. dla kolumny z usuniętymi 20% danymi, liczymy średnią z wartościami pustymi i następnie tą średnią uzupełniamy braki w tej kolumnie)
        medianą
        wylosowanymi w sposób losowy nowymi wartościami (najlepiej z tego samego rozkładu jak dane oryginalne z pierwszej próbki)
    Oblicz podstawowe statystyki dla wypełnionych danych i przeanalizuj
        jak wpływa na statystyki brak danych (zwiększający się procent braków)
        jak wpływa wypełnianie braków średnią, medianą
        jak wpływa wypełnianie braków losowymi wartościami


Mile widziany będzie wykres z procentem braków na osi X oraz wybranymi statystykami na osi Y. Można zrobić oddzielny wykres dla statystyk pozycyjnych oraz oddzielny dla rozproszenia (odchylenie standardowe).

In [2]:
import numpy
import pandas as pd
import math
size = 1000
# Wygeneruj próbke rozklad jednostajny
df_uniform = pd.DataFrame(numpy.random.uniform(size=size))

# Rozklad normalny
df_normal = pd.DataFrame(numpy.random.normal(165.5, 7.5, size=size))

In [3]:
from IPython.display import display
def print_basic_stats(df):
  #n
  n = len(df)
  # print("n", n)

  # śr ar.
  mean = df.mean(axis=0)
  # print("mean",mean)
  
  # odch_st
  std = df.std()
  #print("std",std)
  
  # Me
  median = df.median()
  #print("mediuan", median)

  # Q1
  # Q3
  # min;max
  max = df.max()
  min = df.min()
  
  q1 = df.quantile(0.25)
  q3 = df.quantile(0.75)
  # print("maxmin", max, min)
  _table = pd.DataFrame([[n, mean, std, median, min, max, q1, q3 ]], columns=["n", "śr. arytm.", "odch. std", "mediana", "min", "max", "I kwantyl", "III kwantyl"]) # "mean", "std", "median", "max", "min"])
  display(_table)
def snip_every_x_result(set, x):
  return set[::x]
  

display('uniform')
print_basic_stats(df_uniform[0])


display('normal')
print_basic_stats(df_normal[0])

'uniform'

,n,śr. arytm.,odch. std,mediana,min,max,I kwantyl,III kwantyl
0,1000,0.489468,0.286879,0.478497,0.000779,0.998564,0.235811,0.741599

'normal'

,n,śr. arytm.,odch. std,mediana,min,max,I kwantyl,III kwantyl
0,1000,165.581412,7.315189,165.803951,143.597732,185.026666,160.411961,170.539499

In [4]:
percentages = [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8]

def get_variants_with_removed(_df):
  copy = pd.DataFrame(_df[0])
  for percentage in percentages:
    with_removed = remove_percentage_from_beginning(copy, percentage)
    _df[percentage] = with_removed;
  #print("new", dataframes[0.5][:804])
  return _df
  
def remove_percentage_from_beginning(_df, percentage):
  n = math.floor(len(_df)*percentage)
  for i in range(n):
    _df[0][int(i)] = None
  return _df


normal_variants = get_variants_with_removed(df_normal)
uniform_variants = get_variants_with_removed(df_uniform)

#najpierw rozkład normalny, potem jednostajny
for dict in [{"percentages": normal_variants, "message": "ROZKLAD NORMALNY"}, {"percentages": uniform_variants, "message": "ROZKLAD JEDNOSTAJNY"}]:
  display(dict["message"])
  for percentage in dict["percentages"]:
    _df_with_remove = dict["percentages"][percentage]
    print_basic_stats(_df_with_remove)
  display("KONIEC--------------------------------------")

'ROZKLAD NORMALNY'

,n,śr. arytm.,odch. std,mediana,min,max,I kwantyl,III kwantyl
0,1000,165.581412,7.315189,165.803951,143.597732,185.026666,160.411961,170.539499

,n,śr. arytm.,odch. std,mediana,min,max,I kwantyl,III kwantyl
0,1000,165.620558,7.275544,165.899011,143.597732,184.33789,160.539667,170.570395

,n,śr. arytm.,odch. std,mediana,min,max,I kwantyl,III kwantyl
0,1000,165.680911,7.256678,165.987998,143.597732,184.33789,160.614711,170.632231

,n,śr. arytm.,odch. std,mediana,min,max,I kwantyl,III kwantyl
0,1000,165.77094,7.276605,166.068944,143.597732,184.33789,160.839731,170.642124

,n,śr. arytm.,odch. std,mediana,min,max,I kwantyl,III kwantyl
0,1000,165.602939,7.213576,165.958878,143.597732,184.33789,160.764009,170.430807

,n,śr. arytm.,odch. std,mediana,min,max,I kwantyl,III kwantyl
0,1000,165.608214,7.230883,166.083481,143.597732,184.050836,160.615386,170.430807

,n,śr. arytm.,odch. std,mediana,min,max,I kwantyl,III kwantyl
0,1000,165.510447,7.216662,165.892154,143.597732,184.050836,160.781425,170.184778

,n,śr. arytm.,odch. std,mediana,min,max,I kwantyl,III kwantyl
0,1000,165.595209,7.364633,165.988428,143.597732,184.050836,160.839731,170.184778

,n,śr. arytm.,odch. std,mediana,min,max,I kwantyl,III kwantyl
0,1000,165.826165,7.251363,166.172942,143.597732,181.898289,160.937069,170.191941

'KONIEC--------------------------------------'

'ROZKLAD JEDNOSTAJNY'

,n,śr. arytm.,odch. std,mediana,min,max,I kwantyl,III kwantyl
0,1000,0.489468,0.286879,0.478497,0.000779,0.998564,0.235811,0.741599

,n,śr. arytm.,odch. std,mediana,min,max,I kwantyl,III kwantyl
0,1000,0.487431,0.287644,0.474683,0.000779,0.998564,0.235117,0.739934

,n,śr. arytm.,odch. std,mediana,min,max,I kwantyl,III kwantyl
0,1000,0.491536,0.286773,0.479613,0.000779,0.998564,0.256604,0.745677

,n,śr. arytm.,odch. std,mediana,min,max,I kwantyl,III kwantyl
0,1000,0.493488,0.286152,0.482608,0.000779,0.998037,0.256604,0.746258

,n,śr. arytm.,odch. std,mediana,min,max,I kwantyl,III kwantyl
0,1000,0.492015,0.284621,0.476937,0.000779,0.998037,0.256604,0.738657

,n,śr. arytm.,odch. std,mediana,min,max,I kwantyl,III kwantyl
0,1000,0.500957,0.283571,0.485453,0.000779,0.997199,0.265083,0.749325

,n,śr. arytm.,odch. std,mediana,min,max,I kwantyl,III kwantyl
0,1000,0.494282,0.284153,0.476121,0.000779,0.997199,0.256221,0.745677

,n,śr. arytm.,odch. std,mediana,min,max,I kwantyl,III kwantyl
0,1000,0.489636,0.28758,0.46248,0.000779,0.997199,0.233695,0.736924

,n,śr. arytm.,odch. std,mediana,min,max,I kwantyl,III kwantyl
0,1000,0.491801,0.287017,0.472652,0.000779,0.989291,0.227985,0.745903

'KONIEC--------------------------------------'

In [5]:
from random import randint

def prefill(_df):
  for col in _df.columns:
    mean = str(col) + '_uzupelnianie_srednia_arytm'
    median = str(col) + '_uzupelnianie_mediana'
    random = str( col ) + '_uzupelnianie_losowa'
    _df[mean] = _df[col]
    _df[mean].fillna(_df[mean].mean())

    _df[median] = _df[col]
    _df[median].fillna(_df[median].median())

    min = _df[col].min()
    max = _df[col].max()
    if max==0: 
      return
    _df[random] = _df[col]
    _df[random].fillna(randint(int(min),int(max)))

  
prefill(normal_variants)
prefill(uniform_variants)

for column in normal_variants:
  display("Prefill danych dla rozkladu normalnego")
  display(column)
  print_basic_stats(normal_variants[column])

for column in uniform_variants:
  display("Prefill danych dla rozkladu jednolitego")
  display(column)
  print_basic_stats(uniform_variants[column])

# def fill_mean(_df):
#   for col in _df.columns:
#     mean = _df[col].mean()
#     _df[col].fillna(mean)

# def fill_median(_df):
#   for col in _df.columns:
#     mean = _df[col].mean()
#     _df[col].fillna(mean)

# def fill_random(_df):
#   for col in _df.columns:
#     min = _df[col].min()
#     max = _df[col].max()
#     _df[col].fillna(randrange(min, max))

0.0

,n,śr. arytm.,odch. std,mediana,min,max,I kwantyl,III kwantyl
0,1000,165.581412,7.315189,165.803951,143.597732,185.026666,160.411961,170.539499

0.1

,n,śr. arytm.,odch. std,mediana,min,max,I kwantyl,III kwantyl
0,1000,165.620558,7.275544,165.899011,143.597732,184.33789,160.539667,170.570395

0.2

,n,śr. arytm.,odch. std,mediana,min,max,I kwantyl,III kwantyl
0,1000,165.680911,7.256678,165.987998,143.597732,184.33789,160.614711,170.632231

0.3

,n,śr. arytm.,odch. std,mediana,min,max,I kwantyl,III kwantyl
0,1000,165.77094,7.276605,166.068944,143.597732,184.33789,160.839731,170.642124

0.4

,n,śr. arytm.,odch. std,mediana,min,max,I kwantyl,III kwantyl
0,1000,165.602939,7.213576,165.958878,143.597732,184.33789,160.764009,170.430807

0.5

,n,śr. arytm.,odch. std,mediana,min,max,I kwantyl,III kwantyl
0,1000,165.608214,7.230883,166.083481,143.597732,184.050836,160.615386,170.430807

0.6

,n,śr. arytm.,odch. std,mediana,min,max,I kwantyl,III kwantyl
0,1000,165.510447,7.216662,165.892154,143.597732,184.050836,160.781425,170.184778

0.7

,n,śr. arytm.,odch. std,mediana,min,max,I kwantyl,III kwantyl
0,1000,165.595209,7.364633,165.988428,143.597732,184.050836,160.839731,170.184778

0.8

,n,śr. arytm.,odch. std,mediana,min,max,I kwantyl,III kwantyl
0,1000,165.826165,7.251363,166.172942,143.597732,181.898289,160.937069,170.191941

'0.0_mean'

,n,śr. arytm.,odch. std,mediana,min,max,I kwantyl,III kwantyl
0,1000,165.581412,7.315189,165.803951,143.597732,185.026666,160.411961,170.539499

'0.0_median'

,n,śr. arytm.,odch. std,mediana,min,max,I kwantyl,III kwantyl
0,1000,165.581412,7.315189,165.803951,143.597732,185.026666,160.411961,170.539499

'0.0_random'

,n,śr. arytm.,odch. std,mediana,min,max,I kwantyl,III kwantyl
0,1000,165.581412,7.315189,165.803951,143.597732,185.026666,160.411961,170.539499

'0.1_mean'

,n,śr. arytm.,odch. std,mediana,min,max,I kwantyl,III kwantyl
0,1000,165.620558,7.275544,165.899011,143.597732,184.33789,160.539667,170.570395

'0.1_median'

,n,śr. arytm.,odch. std,mediana,min,max,I kwantyl,III kwantyl
0,1000,165.620558,7.275544,165.899011,143.597732,184.33789,160.539667,170.570395

'0.1_random'

,n,śr. arytm.,odch. std,mediana,min,max,I kwantyl,III kwantyl
0,1000,165.620558,7.275544,165.899011,143.597732,184.33789,160.539667,170.570395

'0.2_mean'

,n,śr. arytm.,odch. std,mediana,min,max,I kwantyl,III kwantyl
0,1000,165.680911,7.256678,165.987998,143.597732,184.33789,160.614711,170.632231

'0.2_median'

,n,śr. arytm.,odch. std,mediana,min,max,I kwantyl,III kwantyl
0,1000,165.680911,7.256678,165.987998,143.597732,184.33789,160.614711,170.632231

'0.2_random'

,n,śr. arytm.,odch. std,mediana,min,max,I kwantyl,III kwantyl
0,1000,165.680911,7.256678,165.987998,143.597732,184.33789,160.614711,170.632231

'0.3_mean'

,n,śr. arytm.,odch. std,mediana,min,max,I kwantyl,III kwantyl
0,1000,165.77094,7.276605,166.068944,143.597732,184.33789,160.839731,170.642124

'0.3_median'

,n,śr. arytm.,odch. std,mediana,min,max,I kwantyl,III kwantyl
0,1000,165.77094,7.276605,166.068944,143.597732,184.33789,160.839731,170.642124

'0.3_random'

,n,śr. arytm.,odch. std,mediana,min,max,I kwantyl,III kwantyl
0,1000,165.77094,7.276605,166.068944,143.597732,184.33789,160.839731,170.642124

'0.4_mean'

,n,śr. arytm.,odch. std,mediana,min,max,I kwantyl,III kwantyl
0,1000,165.602939,7.213576,165.958878,143.597732,184.33789,160.764009,170.430807

'0.4_median'

,n,śr. arytm.,odch. std,mediana,min,max,I kwantyl,III kwantyl
0,1000,165.602939,7.213576,165.958878,143.597732,184.33789,160.764009,170.430807

'0.4_random'

,n,śr. arytm.,odch. std,mediana,min,max,I kwantyl,III kwantyl
0,1000,165.602939,7.213576,165.958878,143.597732,184.33789,160.764009,170.430807

'0.5_mean'

,n,śr. arytm.,odch. std,mediana,min,max,I kwantyl,III kwantyl
0,1000,165.608214,7.230883,166.083481,143.597732,184.050836,160.615386,170.430807

'0.5_median'

,n,śr. arytm.,odch. std,mediana,min,max,I kwantyl,III kwantyl
0,1000,165.608214,7.230883,166.083481,143.597732,184.050836,160.615386,170.430807

'0.5_random'

,n,śr. arytm.,odch. std,mediana,min,max,I kwantyl,III kwantyl
0,1000,165.608214,7.230883,166.083481,143.597732,184.050836,160.615386,170.430807

'0.6_mean'

,n,śr. arytm.,odch. std,mediana,min,max,I kwantyl,III kwantyl
0,1000,165.510447,7.216662,165.892154,143.597732,184.050836,160.781425,170.184778

'0.6_median'

,n,śr. arytm.,odch. std,mediana,min,max,I kwantyl,III kwantyl
0,1000,165.510447,7.216662,165.892154,143.597732,184.050836,160.781425,170.184778

'0.6_random'

,n,śr. arytm.,odch. std,mediana,min,max,I kwantyl,III kwantyl
0,1000,165.510447,7.216662,165.892154,143.597732,184.050836,160.781425,170.184778

'0.7_mean'

,n,śr. arytm.,odch. std,mediana,min,max,I kwantyl,III kwantyl
0,1000,165.595209,7.364633,165.988428,143.597732,184.050836,160.839731,170.184778

'0.7_median'

,n,śr. arytm.,odch. std,mediana,min,max,I kwantyl,III kwantyl
0,1000,165.595209,7.364633,165.988428,143.597732,184.050836,160.839731,170.184778

'0.7_random'

,n,śr. arytm.,odch. std,mediana,min,max,I kwantyl,III kwantyl
0,1000,165.595209,7.364633,165.988428,143.597732,184.050836,160.839731,170.184778

'0.8_mean'

,n,śr. arytm.,odch. std,mediana,min,max,I kwantyl,III kwantyl
0,1000,165.826165,7.251363,166.172942,143.597732,181.898289,160.937069,170.191941

'0.8_median'

,n,śr. arytm.,odch. std,mediana,min,max,I kwantyl,III kwantyl
0,1000,165.826165,7.251363,166.172942,143.597732,181.898289,160.937069,170.191941

'0.8_random'

,n,śr. arytm.,odch. std,mediana,min,max,I kwantyl,III kwantyl
0,1000,165.826165,7.251363,166.172942,143.597732,181.898289,160.937069,170.191941

0.0

,n,śr. arytm.,odch. std,mediana,min,max,I kwantyl,III kwantyl
0,1000,0.489468,0.286879,0.478497,0.000779,0.998564,0.235811,0.741599

0.1

,n,śr. arytm.,odch. std,mediana,min,max,I kwantyl,III kwantyl
0,1000,0.487431,0.287644,0.474683,0.000779,0.998564,0.235117,0.739934

0.2

,n,śr. arytm.,odch. std,mediana,min,max,I kwantyl,III kwantyl
0,1000,0.491536,0.286773,0.479613,0.000779,0.998564,0.256604,0.745677

0.3

,n,śr. arytm.,odch. std,mediana,min,max,I kwantyl,III kwantyl
0,1000,0.493488,0.286152,0.482608,0.000779,0.998037,0.256604,0.746258

0.4

,n,śr. arytm.,odch. std,mediana,min,max,I kwantyl,III kwantyl
0,1000,0.492015,0.284621,0.476937,0.000779,0.998037,0.256604,0.738657

0.5

,n,śr. arytm.,odch. std,mediana,min,max,I kwantyl,III kwantyl
0,1000,0.500957,0.283571,0.485453,0.000779,0.997199,0.265083,0.749325

0.6

,n,śr. arytm.,odch. std,mediana,min,max,I kwantyl,III kwantyl
0,1000,0.494282,0.284153,0.476121,0.000779,0.997199,0.256221,0.745677

0.7

,n,śr. arytm.,odch. std,mediana,min,max,I kwantyl,III kwantyl
0,1000,0.489636,0.28758,0.46248,0.000779,0.997199,0.233695,0.736924

0.8

,n,śr. arytm.,odch. std,mediana,min,max,I kwantyl,III kwantyl
0,1000,0.491801,0.287017,0.472652,0.000779,0.989291,0.227985,0.745903

'0.0_mean'

,n,śr. arytm.,odch. std,mediana,min,max,I kwantyl,III kwantyl
0,1000,0.489468,0.286879,0.478497,0.000779,0.998564,0.235811,0.741599

'0.0_median'

,n,śr. arytm.,odch. std,mediana,min,max,I kwantyl,III kwantyl
0,1000,0.489468,0.286879,0.478497,0.000779,0.998564,0.235811,0.741599

'0.0_random'

,n,śr. arytm.,odch. std,mediana,min,max,I kwantyl,III kwantyl
0,1000,0.489468,0.286879,0.478497,0.000779,0.998564,0.235811,0.741599

'0.1_mean'

,n,śr. arytm.,odch. std,mediana,min,max,I kwantyl,III kwantyl
0,1000,0.487431,0.287644,0.474683,0.000779,0.998564,0.235117,0.739934

'0.1_median'

,n,śr. arytm.,odch. std,mediana,min,max,I kwantyl,III kwantyl
0,1000,0.487431,0.287644,0.474683,0.000779,0.998564,0.235117,0.739934

'0.1_random'

,n,śr. arytm.,odch. std,mediana,min,max,I kwantyl,III kwantyl
0,1000,0.487431,0.287644,0.474683,0.000779,0.998564,0.235117,0.739934

'0.2_mean'

,n,śr. arytm.,odch. std,mediana,min,max,I kwantyl,III kwantyl
0,1000,0.491536,0.286773,0.479613,0.000779,0.998564,0.256604,0.745677

'0.2_median'

,n,śr. arytm.,odch. std,mediana,min,max,I kwantyl,III kwantyl
0,1000,0.491536,0.286773,0.479613,0.000779,0.998564,0.256604,0.745677

'0.2_random'

,n,śr. arytm.,odch. std,mediana,min,max,I kwantyl,III kwantyl
0,1000,0.491536,0.286773,0.479613,0.000779,0.998564,0.256604,0.745677

'0.3_mean'

,n,śr. arytm.,odch. std,mediana,min,max,I kwantyl,III kwantyl
0,1000,0.493488,0.286152,0.482608,0.000779,0.998037,0.256604,0.746258

'0.3_median'

,n,śr. arytm.,odch. std,mediana,min,max,I kwantyl,III kwantyl
0,1000,0.493488,0.286152,0.482608,0.000779,0.998037,0.256604,0.746258

'0.3_random'

,n,śr. arytm.,odch. std,mediana,min,max,I kwantyl,III kwantyl
0,1000,0.493488,0.286152,0.482608,0.000779,0.998037,0.256604,0.746258

'0.4_mean'

,n,śr. arytm.,odch. std,mediana,min,max,I kwantyl,III kwantyl
0,1000,0.492015,0.284621,0.476937,0.000779,0.998037,0.256604,0.738657

'0.4_median'

,n,śr. arytm.,odch. std,mediana,min,max,I kwantyl,III kwantyl
0,1000,0.492015,0.284621,0.476937,0.000779,0.998037,0.256604,0.738657

'0.4_random'

,n,śr. arytm.,odch. std,mediana,min,max,I kwantyl,III kwantyl
0,1000,0.492015,0.284621,0.476937,0.000779,0.998037,0.256604,0.738657

'0.5_mean'

,n,śr. arytm.,odch. std,mediana,min,max,I kwantyl,III kwantyl
0,1000,0.500957,0.283571,0.485453,0.000779,0.997199,0.265083,0.749325

'0.5_median'

,n,śr. arytm.,odch. std,mediana,min,max,I kwantyl,III kwantyl
0,1000,0.500957,0.283571,0.485453,0.000779,0.997199,0.265083,0.749325

'0.5_random'

,n,śr. arytm.,odch. std,mediana,min,max,I kwantyl,III kwantyl
0,1000,0.500957,0.283571,0.485453,0.000779,0.997199,0.265083,0.749325

'0.6_mean'

,n,śr. arytm.,odch. std,mediana,min,max,I kwantyl,III kwantyl
0,1000,0.494282,0.284153,0.476121,0.000779,0.997199,0.256221,0.745677

'0.6_median'

,n,śr. arytm.,odch. std,mediana,min,max,I kwantyl,III kwantyl
0,1000,0.494282,0.284153,0.476121,0.000779,0.997199,0.256221,0.745677

'0.6_random'

,n,śr. arytm.,odch. std,mediana,min,max,I kwantyl,III kwantyl
0,1000,0.494282,0.284153,0.476121,0.000779,0.997199,0.256221,0.745677

'0.7_mean'

,n,śr. arytm.,odch. std,mediana,min,max,I kwantyl,III kwantyl
0,1000,0.489636,0.28758,0.46248,0.000779,0.997199,0.233695,0.736924

'0.7_median'

,n,śr. arytm.,odch. std,mediana,min,max,I kwantyl,III kwantyl
0,1000,0.489636,0.28758,0.46248,0.000779,0.997199,0.233695,0.736924

'0.7_random'

,n,śr. arytm.,odch. std,mediana,min,max,I kwantyl,III kwantyl
0,1000,0.489636,0.28758,0.46248,0.000779,0.997199,0.233695,0.736924

'0.8_mean'

,n,śr. arytm.,odch. std,mediana,min,max,I kwantyl,III kwantyl
0,1000,0.491801,0.287017,0.472652,0.000779,0.989291,0.227985,0.745903

'0.8_median'

,n,śr. arytm.,odch. std,mediana,min,max,I kwantyl,III kwantyl
0,1000,0.491801,0.287017,0.472652,0.000779,0.989291,0.227985,0.745903

'0.8_random'

,n,śr. arytm.,odch. std,mediana,min,max,I kwantyl,III kwantyl
0,1000,0.491801,0.287017,0.472652,0.000779,0.989291,0.227985,0.745903